@import "./header/Header";
@import './../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
	background-color: #F5F5F5;
	font-family: Roboto,sans-serif;
	font-weight: 400;
}

.bootsnipp-thumb {
	padding: 20px;

	h4 {
		margin-bottom: 20px;
	}
}

h1 {
	margin-bottom: 50px;
}

.row {
	padding: 0 50px;
}

.col-sm-4 {
	display: inline-block;
	float: none;
	vertical-align: top;
}
#app {
	padding-top: 90px;
}

.navbar {
	border-top: 1px solid;
	border-radius: 0;
}
