@import "./header/Header";
@import './../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
	background-color: #F5F5F5;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	margin: 100px 0;
}
.panel {
	padding: 0;
}
.panel-body > .row {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #F5F5F5;

	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}
